MAIN_ACCOUNT=your_account_address
MAIN_PRIVATE_KEY=your_private_key

ETHEREUM_SEPOLIA_RPC=https://rpc.sepolia.org
ARBITRUM_SEPOLIA_RPC=https://sepolia-rollup.arbitrum.io/rpc
OPTIMISM_SEPOLIA_RPC=https://sepolia.optimism.io
BASE_SEPOLIA_RPC=https://sepolia.base.org

USDC_SEPOLIA=0x1c7D4B196Cb0C7B01d743Fbc6116a902379C7238
USDC_ARBITRUM_SEPOLIA=0x75faf114eafb1bdbe2f0316df893fd58ce46aa4d
USDC_OPTIMISM_SEPOLIA=0x5fd84259d66cd46123540766be93dfe6d43130d7
USDC_BASE_SEPOLIA=0x036CbD53842c5426634e7929541eC2318f3dCF7e
